@page
@model NEA.Pages.Enrollments.CreateModel

@{
    ViewData["Title"] = "Enroll";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Enroll</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EnrollmentVM.ClassroomID" class="control-label"></label>
                <input asp-for="EnrollmentVM.ClassroomID" class ="form-control"></input>
            </div>
            <div class="form-group">
                <input type="submit" value="Enroll" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Classes/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
