/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.bg-brown {
    background-color: brown;
}

.bg-blue {
    background-color: #0366d6;
}

.classroom {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
    display: inline-block;
    padding: 8px 4px 4px 4px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
    .classroom a {
        color: white;
        font-size: large;
        font-weight: bolder;
        letter-spacing: 0.5px;
    }

    .classroom div {
        margin-top: 12%;
        height: 60%;
        background-color: #fff;
        padding: 4px;
        color: #000;
        border-radius: 10px;
    }

        .classroom div ul {
            padding-left: 0;
            list-style: none;
        }

            .classroom div ul li {
                list-style: none;
                text-decoration: none;
                display: inline-block;
                color: dimgray;
            }

                .classroom div ul li a {
                    font-size: medium;
                    font-weight: normal;
                    letter-spacing: 0px;
                    color: dimgray;
                }


        

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: firebrick;
  border-color: brown;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: firebrick;
    border-color: brown;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
