@page "/mobilehome"


<div class="main" @onmousemove="Play">
    <Simulation @ref="sim" Preset="preset" />
</div>


@code{

    private Models.SaveState preset = new Models.SaveState();
    private List<Models.AvailableApparatus> available = new List<Models.AvailableApparatus>();
    private Simulation sim;
    private bool paused = true;

    private void Play()
    {
        if (paused)
        {
            paused = false;
            sim.PlayPause();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            preset.Objects.AddRange(
                new List<Interfaces.IDisplayObject> {
                    new NEASimulator.Models.Apparatus.Ball(new System.Numerics.Vector2 { X = 80, Y = 50 }, false),
                    new NEASimulator.Models.Apparatus.Ball(new System.Numerics.Vector2 { X = 180, Y = 50 }, false),
                    new NEASimulator.Models.Apparatus.Ball(new System.Numerics.Vector2 { X = 280, Y = 50 }, false),
                    new NEASimulator.Models.Apparatus.Ball(new System.Numerics.Vector2 { X = 130, Y = 150 }, false),
                    new NEASimulator.Models.Apparatus.Ball(new System.Numerics.Vector2 { X = 230, Y = 150 }, false),
                    new NEASimulator.Models.Apparatus.Ball(new System.Numerics.Vector2 { X = 180, Y = 250 }, false),
                    new NEASimulator.Models.Apparatus.Plank(new System.Numerics.Vector2 { X = 170, Y = 500 }, Models.Apparatus.Plank.Type.Horizontal, false),
                    new NEASimulator.Models.Apparatus.Plank(new System.Numerics.Vector2 { X = 0, Y = 350 }, Models.Apparatus.Plank.Type.Vertical, false),
                    new NEASimulator.Models.Apparatus.Plank(new System.Numerics.Vector2 { X = 330, Y = 350 }, Models.Apparatus.Plank.Type.Vertical, false),

                    }
            );



        }
    }
}