@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu available="available"/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    private List<Models.AvailableApparatus> available = new List<Models.AvailableApparatus>();

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            available.Add(new Models.AvailableApparatus { ImageSrc = "/RedBallPreview.png", Name = "Ball" });
            available.Add(new Models.AvailableApparatus { ImageSrc = "/PlankPreview.png", Name = "Horizontal Plank" });
            available.Add(new Models.AvailableApparatus { ImageSrc = "/V_PlankPreview.png", Name = "Vertical Plank" });
        }
    }
}