@page
@model NEA.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StudentQuestion</h4>
    <hr />



    <table class="table">
        <thead>
            <tr>
                <th>
                    Question
                </th>
                <th>
                    Your Answer
                </th>
                <th>
                    Correct Answer
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StudentQuestions)
            {
                var correct = item.isCorrect != AnswerType.Incorrect ? "table-success" : "table-danger";
                <tr class="@correct">
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.QuestionString)
                    </td>
                    <td>
                        @{ 
                            var answer = item.Answer.ToString();

                            if (item.isCorrect == AnswerType.ErrorCarriedForward)
                            {
                                answer += "  (Error Carried Forward)";
                            }
}
                        @answer
                    </td>
                    <td>
                        @{  answer = item.Question.AnswerString.Split(';')[0];}
                        @answer
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
    <h5>Total Percentage: @Model.StudentAssignment.Percentage %</h5>
</div>
<div>
    <a asp-page="/Classes/Index">Return Home</a>
</div>
